.link{
    text-decoration: none;
}

.label{
    margin-left: 10px;
}

.main{
    margin: 15px auto;
    max-width: 950px;
    border-radius: 20px;
    border: 1px solid black;
}

.mediaContainer{
    display: flex;
    justify-content: center;
    margin-top:15px;
    margin-bottom: 30px;
}

.imageContainer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:15px;
    margin-bottom: 30px;
    width: 500px;
    height: 500px;
}

.media{
    max-width: 500px;
    max-height: 500px;
}

.image{
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    left: 0; 
    right: 0; 
    top:0;
    margin-left: auto; 
    margin-right: auto; 
}

.tagsContainer{
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    margin-bottom: 12px;
    justify-self: center;
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.tag{
    display: flex;
    width: 210px;
    padding: 5px;
    height: 30px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 0.5px black solid;
    background: var(--light-color);
}

.editTag{
   background: var(--dark-color);
    color: white;
    cursor: text;
}

.tagInput{
    background: transparent;
    border: 0.5px var(--light-color) solid;
    text-align: center;
}

.tagInput:focus{
    outline-width: 0.5px;
}

.editInput{
    background: var(--dark-color);
    color: white;
    border: 0.5px var(--dark-color) solid;
    cursor: text;
}

.editTagExtended{
    background: var(--dark-color);
    height: 60px;
    color: white;
    cursor: text;
}

.intervalContainer{
    border: none;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--dark-color);
}

.intervalInput{
    background: transparent;
    width: 50px;
    height: 25px;
    color: white;
    border:0.5px var(--dark-color) solid;
    text-align: center;
}

.intervalInput:focus{
    outline-width: 0.5px;
}

.redBorder{
     border: 1px #c4302b solid;
}


.iconContainer{
    display: flex;
    justify-content: center;
}

.left{
    border-left: 1px solid black;
}

.right{
    border-right: 1px solid black;
}

.icon{
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer
}